<%- include('partials/header') %>
<%- include('navbar') %>
<%- include('sidenavbar') %>

<div class = "introHeaderOnNavbarCarInventory">
  <%users.forEach(function(user,index,array){%>
    <%if(index === array.length -1) {%>
 <h5> Welcome, <%=user.displayName%><%user.username%></h5>
  <%}%>
 <% }) %>
</div>

<iframe id ="topIframeA" style="background: #21313C;border: none;margin-left:120px; margin-bottom:20px; margin-top:25px; border-radius: 15px; box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="480" height="340" src="https://charts.mongodb.com/charts-project-0-btbvr/embed/charts?id=fa4b44f9-cbca-4df9-8991-6a6d4fe69154&autoRefresh=3600&theme=dark"></iframe>
<iframe id ="topIframeB" style="background: #21313C;border: none;margin-left:20px; margin-bottom:20px; margin-top:25px; border-radius: 15px; box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="480" height="340" src="https://charts.mongodb.com/charts-project-0-btbvr/embed/charts?id=bb4be7fa-a343-474c-b36a-ed68374d7b0f&theme=dark"></iframe>
<iframe id ="topIframeC" style="background: #21313C;border: none;margin-left:20px; margin-bottom:20px; margin-top:25px; border-radius: 15px; box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="480" height="340" src="https://charts.mongodb.com/charts-project-0-btbvr/embed/charts?id=bb4be7fa-a343-474c-b36a-ed68374d7b0f&theme=dark"></iframe>

<div class = "carHeader">
<h4> Current Car Inventory</h4>
</div>

 <div class ="backgroundForButtonsAboveTable">
<div class="btn-group">
  <button type="button" class="btn btn-primary" id="modalButtons" data-toggle="modal" data-target="#exampleModal1">Car Form</button>
  <button type="button" class="btn btn-primary" id="modalButtons" data-toggle="modal" data-target="#exampleModal">Car Details</button>  
    <select id="modalButtons" class ="btn btn-primary">
      <option value="0">Select car:</option>
      <option value="1">Audi</option>
      <option value="2">BMW</option>
      <option value="3">Citroen</option>
      <option value="4">Ford</option>
      <option value="5">Honda</option>
      <option value="6">Jaguar</option>
      <option value="7">Land Rover</option>
      <option value="8">Mercedes</option>
      <option value="9">Mini</option>
      <option value="10">Nissan</option>
      <option value="11">Toyota</option>
      <option value="12">Volvo</option>
    </select>
  </div>
</div>
</div>
<form class="search" action="">
  <input type="search" placeholder="Search here..." required>
  <button type="submit">Search</button>
</form>

 


  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tesla </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src = "images/tesla.jpg" class = "JeepModalOne" />
        <% carItems.forEach(function(item){ %>
          <div class = "item">
            <p>Make: <%=item.make%></p> 
            <p>Model: <%=item.model%></p> 
            <p>Mileage: <%=item.current_mileage%></p> 
            <p>Year: <%=item.year%></p>
          </div>
       <% }); %>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  

<table class="table table-dark tableCarInventory">
  
    <thead>
      <tr>
        <th class = "idRowInTable" scope="col">ID</th>
        <th scope="col">Make</th>
        <th scope="col">Model</th>
        <th scope="col">Mileage</th>
        <th scope="col">Year</th>
        <th scope="col">Next Service</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class = "idRowInTable"> <% carItems.forEach(function(item){ %>
            <div class = "item">
              <p><%=item._id%></p> 
            </div>
          <% }); %>
        </td>
        <td> <% carItems.forEach(function(item){ %>
            <div class = "item">
              <p><%=item.make%></p> 
            </div>
         <% }); %>
        </td>
        <td> <% carItems.forEach(function(item){ %>
          <div class = "item">
            <p><%=item.model%></p> 
          </div>
       <% }); %>
      </td>
        <td> <% carItems.forEach(function(item){ %>
          <div class = "item">
            <p><%=item.current_mileage%></p> 
          </div>
         <% }); %>
        </td>
        <td> <% carItems.forEach(function(item){ %>
          <div class = "item"> 
          <p><%=item.year%></p>
          </div>
        <% }); %>
        </td>
        <td> <% carItems.forEach(function(item){ %>
          <div class = "item"> 
          <p><%=item.next_service%></p>
          </div>
        <% }); %>
        </td>
        <td> <% carItems.forEach(function(item){ %>
          <div class ="item">
                <button href="#myModal" type="button" name = "deleteButton" class="btn btn-danger deleteButton" data-toggle="modal">Delete</button>
          </div>
          <% }) %> 

          <!-- Form info -->
           <!-- Modal HTML -->
        <div id="myModal" class="modal fade">
          <div class="modal-dialog modal-confirm">
            <div class="modal-content">
              <div class="modal-header flex-column">
                <div class="icon-box">
                  <i class="material-icons">&#xE5CD;</i>
                </div>						
                <h4 class="modal-title w-100">Are you sure?</h4>	
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <p>Do you really want to delete these records? This process cannot be undone.</p>
              </div>
              <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <form action="/delete" method ="post">
                    <div class ="item">
                      <Button type="submit" class="btn btn-danger" name="deleteButton" value ="<%=carItems.make%>" onClick="this.form.submit()">Delete</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </td> 
      </tr>
    </tbody>
  </table>
  

<%- include('partials/footer') %>

   <!-- Modal 2 POST Form -->
   <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Car Inventory </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"><div class="row">
          <div class="col-md-8 mx-auto">
            <div class="contact-form">
              <h1>Form Information </h1>
              <p class="hint-text"></p>
              <form action="/submitCars" method="POST">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group leftFormGroup">
                      <label for="inputMake">Make</label>
                                      <input type="text" name ="inputMake"class="form-control" id="inputMake" required>
                                      <label for="inputModel">Model</label>
                                      <input type="text" name ="inputModel"class="form-control" id="inputModel" required>
                                      <label for="inputYear">Year</label>
                                      <input type="text" name ="inputYear" class="form-control" id="inputYear" required>
                                      <label for="inputSeats">Seats</label>
                                      <input type="text" name ="inputSeats" class="form-control" id="inputSeats" required>
                                      <label for="inputColor">Color</label>
                                      <input type="text" name ="inputColor" class="form-control" id="inputColor" required>
                                      <label for="inputVin">Vin</label>
                                      <input type="text" name ="inputVin" class="form-control" id="inputVin" required>
                                      <label for="inputCurrent_Mileage">Current Mileage</label>
                                      <input type="text" name ="inputCurrent_Mileage" class="form-control" id="inputCurrent_Mileage" required>
                                      <label for="inputService_Interval">Service Interval</label>
                                      <input type="text" name ="inputService_Interval" class="form-control" id="inputService_Interval" required>
                                      <label for="inputNext_Service">Next Service</label>
                                      <input type="text" name ="inputNext_Service" class="form-control" id="inputNext_Service" required>
                                      <label for="input">Annual Sales</label>
                                      <input type="text" name ="inputAnnual_Sales" class="form-control" id="inputAnnual_Sales" required>
                    </div>
                  </div>         
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
              </form>
            </div>
          </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> 
  
  