<%- include('partials/header') %>
<%- include('navbar') %>

<div class="jumbotron text-center topLogo">
  <div class="container">
    <h1 class="display-3"><img src= /images/logo.png height="200" /> Vehicles Database</h1>
</div>
<div class="d-flex">


</div>
<div class="row">
  <div class="column" id = "grayBackgroundColumnLeft" style="background-color:#393e46">
    <h2>Trucks Database</h2>
    <p>view our selection of Trucks</p>
    <div class="dropdown mr-1">
      <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
        Vehicle Selections
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
        <a class="dropdown-item" href="/cars">Cars</a>
        <a class="dropdown-item" href="/boats">Boats</a>
        <a class="dropdown-item" href="/trucks">Trucks</a>
      </div>
    </div>
  </div>
  <div class="column" id = "grayBackgroundColumnRight" style="background-color:#393e46;">
    <h2>See our Trucks</h2>
    <p>Specifications</p>
    <button type="button" class="btn btn-primary" id="modalButton1"data-toggle="modal" data-target="#exampleModal">
      Launch Truck Details
    </button>
    <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Jeep </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src = "images/Jeep.jpg" class = "JeepModalOne" height="220" width:auto />
          <% truckItems.forEach(function(item){ %>
            <div class = "item">
              <p>Make: <%=item.make%></p> 
              <p>Model: <%=item.model%></p> 
              <p>Mileage: <%=item.current_mileage%></p> 
              <p>Year: <%=item.year%></p>
            </div>
         <% }); %>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <h2>Truck Inventory form</h2>
    <button type="button" class="btn btn-primary" id = "modalButton2" data-toggle="modal" data-target="#exampleModal2">
      Launch Truck Details
    </button>
    




    
    
    <!-- Modal 2 POST Form -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Trucks Inventory </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"><div class="row">
          <div class="col-md-8 mx-auto">
            <div class="contact-form">
              <h1>Form Information </h1>
              <p class="hint-text"></p>
              <form action="/submitTrucks" method="POST">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group leftFormGroup">
                      <label for="inputMake">Make</label>
                                      <input type="text" name ="inputMake"class="form-control" id="inputMake" required>
                                      <label for="inputModel">Model</label>
                                      <input type="text" name ="inputModel"class="form-control" id="inputModel" required>
                                      <label for="inputYear">Year</label>
                                      <input type="text" name ="inputYear" class="form-control" id="inputYear" required>
                                      <label for="inputSeats">Seats</label>
                                      <input type="text" name ="inputSeats" class="form-control" id="inputSeats" required>
                                      <label for="inputBedLength">Bed Length</label>
                                      <input type="text" name ="inputBedLength" class="form-control" id="inputBedLength" required>
                                      <label for="inputColor">Color</label>
                                      <input type="text" name ="inputColor" class="form-control" id="inputColor" required>
                                      <label for="inputVin">VIN</label>
                                      <input type="text" name ="inputVin" class="form-control" id="inputVin" required>
                                      <label for="inputCurrentMileage">Current Mileage</label>
                                      <input type="text" name ="inputCurrentMileage" class="form-control" id="inputCurrentMileage" required>
                                      <label for="inputServiceInterval">Service Interval</label>
                                      <input type="text" name ="inputServiceInterval" class="form-control" id="inputServiceInterval" required>
                    </div>
                  </div>         
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
              </form>
            </div>
          </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  
  </div>
  </div>
</div>
</div>

<a class="btn btn-dark btn-lg logoutButton" href="/logout" role="button">Log Out</a>

<%- include('partials/footer') %>

